// Colors
$primaryColor: rgb(88, 169, 165);
$secondaryColor: rgb(254, 198, 45);

$headingColor: rgb(28, 35, 35);
$textColor: rgb(64, 66, 66);
$textColorLight: rgb(72, 105, 88);

$lightBackground: rgb(204, 240, 230);


// Fonts
$primaryFont: 'Poppins', sans-serif;
$additionalFont: 'Poppins', sans-serif;


// Basic time for animation
$animationTime: .3s;
